@page "/{pageNum:int?}"
@model IndexModel
@{
    var blogPage = Model.BlogPage!;
    ViewData["Title"] = "Blog";
}

<div class="blog-page">
    @foreach (var post in blogPage.Posts)
    {
        <partial name="Shared/_BlogPostPartial" model="(post, false)" />
    }
</div>

<div class="blog-page-control">
    <div>
        Page @blogPage.PageNum of @blogPage.PageCount
    </div>

    <div>
        @if (blogPage.PageNum > 1)
        {

            <a asp-route-pageNum="@(blogPage.PageNum == 2 ? (int?)null : blogPage.PageNum - 1)">&laquo; Prev Page</a>
        }

        @if (blogPage.PageNum < blogPage.PageCount)
        {
            <a asp-route-pageNum="@(blogPage.PageNum + 1)">Next Page &raquo;</a>
        }
    </div>
</div>