@page "{year}/{month}/{day}/{slug}"
@model Drudoca.Blog.Web.Pages.Blog.PostModel
@{
    ViewData["Title"] = "Post";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    var post = Model.Post!;
}

<div class="blog-post">
    <partial name="Shared/_BlogPostPartial" model="post" />
</div>