@model BlogPosts
@{
    ViewData["Title"] = "Home Page";
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (var i = 1; i <= Model.NumPages; i++)
        {
            <li class="page-item">
                @Html.ActionLink(i.ToString(), "page", "blog", new { id = i }, new { @class="page-link" })
            </li>
        }
    </ul>
</nav>

@foreach (var blogPost in Model.Posts)
{
    <h2 class="blog-post-title">@Html.ActionLink(blogPost.Title, "post", "blog", new { year = blogPost.Date.Year, month = blogPost.Date.Month, slug = blogPost.Slug })</h2>
    <p class="blog-post-date">@blogPost.Date.ToString("MMM yyyy")</p>
    @Html.Raw(blogPost.IntroHtml)

    <hr />
}