body {
    font-family: Consolas, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

a {
    color: #0366d6;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* General styles
-------------------------------------------------- */
pre {
    border-radius: 5px;
}