/* CSS goes here */

.top-bg-image {
    height: 312px;
    background-image: url('/images/bg-header.jpg');
    background-position-y: bottom;
    background-position-x: center;
    background-color: black;
    background-repeat: no-repeat;
}

    .top-bg-image h1 {
        display: inline-block;
        color: white;
        width: 100%;
        text-align: center;
    }

    .top-bg-image .bottom-aligner {
        display: inline-block;
        height: 230px;
        vertical-align: bottom;
    }

.blog-post-title {
    margin-top: 2em;
}

.blog-post-date{
    font-style: italic;
    margin-bottom: 2em;
}

pre {
    background-color: transparent !important;
}
